:root {
    --border-color-1: linear-gradient(
        135deg,
        #fffb90 14.32%,
        #fbea7825.04%,

    );
    --border-color-2:linear-gradient(
        233.36deg,
        #000000,
    );
    --size:600px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-size: 16px;
}
img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(90deg);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}
.main-wheel{
    position: relative;
    width: calc(var(--size)*1.1);
    height: calc(var(--size)*1.1);
    border-radius: 50% ;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wheel::after {
    content: '';
    position: absolute;
    width:calc(var(--size)*1.05);
    height: calc(var(--size)*1.05);
    border-radius: 50% ;
    background-color: rgb(255, 255, 255);
}

.icon-arrow {
    position: absolute;
    width: 50px;
    top: -10px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(2);
}

.wheel {
    list-style: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width:calc(var(--size));
    height: calc(var(--size));
    border-radius: 50% ;
    background-color: rgb(255, 255, 255);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 50s;
}

/*.logo1 {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 5;
    left: 50%;
    transform: scale(2);
    transform: rotate(-90deg);
}*/
.logo1 {
    z-index: 5;
    left: 48%;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(3) rotate(-90deg);
}

.btn-start {
    padding: 1rem 2rem;
    margin-top: 2 rem;
    border: 2px solid #000000;
    font-size: 1.3rem;
    border-radius: 3rem;
}
.btn-start:hover {
    cursor: pointer;
    opacity: 0.8;
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100% ;
}
.text-item{
    display: block;
    position: absolute;
    left: -100%;
    height: 200%;
    width: 200%;
    text-align: center;
    padding-top: 4rem;
    color: rgb(0,0,0);
    background-color: #012169;
}

.text-item.even {
    background-color: #41b6e6;
}
.text-item > b {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    word-break: break-word;
    max-width: 20%;
}


.msg {
    font-size: 38px;
    margin-top: 2rem;

}
#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Make sure the popup is on top of other elements */
    display: none; /* Hide the popup by default */
  }
  
  #popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
  }
  
  #popup-content h2 {
    margin-top: 0;
  }
  
  #popup-content p {
    margin-bottom: 20px;
  }

  #popup-content button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -110px;
  }

.close-icon {
    position: absolute;
    bottom: 150px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('img/icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
  }
.text-item.even {
    color: white;
}
.text-item.false {
    color: white;
}
span{
    display: block;
    margin-top: 35px;
    display: inline-block;
    transform: rotate(-90deg);
  }